body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	/*background:linear-gradient(rgba(0,0,50,5),rgba(0,0,50,0.5)),url(contact.jpg);
	background-repeat: no-repeat;
	background-position: center;*/
 background-color: #57B2A9;
	font-family: sans-serif;
}

.contact{
	margin-top:100px;
	color: white;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}


.contact h2{
	font-size: 16px;

}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form{
	width: 600px;
	background:transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid gray;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
	background:#ff5722;
	border-color: transparent;
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

input:hover{
	background-color: #f44336;
	cursor: pointer;
}
a{
	color: white;
}


header{
	background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5));
	height: 1vh;
	background-size: cover !important;
	background-position: center;
}

nav{
	position: fixed;
	width:100%;
	line-height: 60px;
	background-color: black;
}

nav ul{
	float: right;
	margin:0px;
	padding-right: 42px;
}

nav ul li{
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

nav ul li a:hover{
	color:red;
}