*{
	margin: 0px;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

header{
	background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5));
	background: url('fond1.jpg');
	height: 100vh;
	background-size: cover !important;
	background-position: center;
}

nav{
	position: fixed;
	width:100%;
	line-height: 60px;
	background-color: rgba(14,16,16,0.2);
}

nav ul{
	float: right;
	margin:0px;
	padding-right: 42px;
}

nav ul li{
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
}

nav ul li a:hover{
	color:red;
}
.logo{
	height: 75px;
	float: left;
	margin: 16px 10px;
}

h1{
	font-size: 75px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	padding-top: 465px;
	color: #fff;
	font-family: 'Sanchez', serif;
}

section{
	margin-top: 15px;
	text-align: center;
	color: black;
	background-color:white;
	margin-bottom: 35px;
	font-size: 20px;
}

p{
	font-size: 18px;
	line-height: 28px;
	color: #333;
	text-align: justify;
}
nav.black{
	background-color: #000;
}
h2{
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
}