*{
	margin: 0px;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h1:before {
    content: "";
    display: block;
    height: 1px;
    width: 120px;
    margin: 0 auto 19px;
    background: #ba986f;
}
h1:after {
    content: "";
    display: block;
    height: 1px;
    width: 120px;
    margin: 19px auto 0;
    background: #ba986f;
}
header{
	background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5));
	background: url('res.jpg');
	height: 100vh;
	background-size: cover !important;
	background-position: center;
}

nav{
	position: fixed;
	width:100%;
	line-height: 60px;
	background-color: rgba(14,16,16,0.2);
}

nav ul{
	float: right;
	margin:0px;
	padding-right: 42px;
}

nav ul li{
	display: inline-block;
	padding: 16px 32px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

nav ul li a:hover{
	color:red;
}

.logo{
	height: 75px;
	float: left;
	margin: 16px 10px;
}
nav.black{
	background-color: #000;
}

p{
	font-size: 18px;
	line-height: 28px;
	color: #333;
	text-align: justify;
}
.description{
	width: 80%;
	margin:50px auto;
}
h1{
font-size: 35px;
    line-height: 25px;
    color: #ba986f;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Unna', Times, Serif;
    font-weight: 400;
    margin-top: 40px;
}
.entree{
	text-align: center;
	height:400px;
	width: 550px;
}
.plat{
    text-align: center;
    height:400px;
    width: 550px;
    margin-top: 30px;
}
.dessert{
    text-align: center;
    height:400px;
    width: 550px;
    margin-top: 30px;
}

h2{
	display: block;
    text-align: center;
    color: #9c9c9c;
    font-family: 'Unna', Times, Serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}

.item {
    float: left;
    width: 445px;
    height: 100px;
    padding-left: 45px;
    text-align: left;
}
.price {
    width: auto;
    float: right;
    color: #9f9f9f;
    font-family: 'Raleway', Arial, Sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 20px;
    text-align: left;
    font-style: normal;
    margin-bottom: 20px;
}
.item h3{
	    width: 350px;
	    color: #ba986f;
    font-size: 15px;
    font-family: 'Raleway', Arial, Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
p{
	line-height: 20px;
    font-size: 17px;
}
.menu h3{
  width: 350px;
        color: #ba986f;
    font-size: 15px;
    font-family: 'Raleway', Arial, Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

}
.menu h2{
    text-align: center;
    color: #9c9c9c;
    font-family: 'Unna', Times, Serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 30px;
    text-transform: uppercase;
}

.menu{
    margin-bottom:20px;
}